@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Marko+One&display=swap');

h1 {
    color: #E5AF37;
    text-shadow: 4px 4px 4px rgb(211, 65, 77);
    margin: 20px 0;
    font-family: 'Lemon';
    font-style: normal;
    font-weight: 400;
    font-size: px;
    line-height: 52px;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
}
#listItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; 
    max-width: 90%;
    margin: 0 auto;
    border: 1px solid #ccc;
    overflow: auto;
    background: #E7D6AA;
    border-radius: 4px;
    padding: 50px 0;
    background-color: #3B6A7E;
    list-style: none;
}

#productDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; 
    max-width: 90%;
    margin: 0 auto;
    border: 1px solid #ccc;
    overflow: auto;
    background: #E7D6AA;
    border-radius: 4px;
    padding: 50px 0;
}

strong {
    color: #1E1E1E;
    font-family: 'Marko One';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

/* Style the editable content */
span[contenteditable="true"] {
    background-color: #3B6A7E;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin: 5px 0;
    display: inline-block;
    width: 80%;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#saveButton {
    font-family: 'Lemon';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    color: #FFFFFF;
    display: flex;
    width: 100px;
    height: 40px;
    margin-top: 50px;
    background-color: #D3414D;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    margin-right: 20px;
}


/* Style the delete button differently */
#deleteButton {
    font-family: 'Lemon';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    color: #FFFFFF;
    display: flex;
    width: 100px;
    height: 40px;
    margin-top: 50px;
    background-color: #D3414D;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    margin-left: 20px;
}

/* Style the error message */
#error {
    color: #ff3333;
    font-weight: bold;
    margin-top: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
}
  