@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Marko+One&display=swap');
header {
    height: 55px;
    width: 100%;
}
h1 {
    color: #E5AF37;
    text-shadow: 4px 4px 4px rgb(211, 65, 77);
    margin: 20px 0;
    font-family: 'Lemon';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 52px;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
}
main {
    position: relative;
}
img {
    height: 22px;
    width: 22px;
    color: white;
}
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: auto;
    max-width: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
         /* HAMBURGER MENU */
.top-bar-container {
    display: flex;
    justify-content: space-between; /* Adjusted to create space between logo and menu */
    align-items: center;
    height: 70px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    overflow: auto;
    background: #E7D6AA;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.menu-container {
    display: flex;
    justify-content: flex-start; /* Adjusted to move the menu to the top left */
    align-items: center;
    padding: 10px;
    background-color: #E7D6AA;
    position: absolute;
    top: 2%;
    left: 2%;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

.menu-toggle :hover {
    background-color: #3B6A7E;
}

.menu {
    display: none;
    background-color: #333;
    position: absolute;
    top: 50px; /* Adjusted to make room for the top bar */
    left: 0;
    width: 75%;

}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    color: #3B6A7E;
    font-family: 'Marko One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.menu ul :hover {
    background-color: #3B6A7E;
    color: #fff;
}



hr {
    margin: 5px 0;
    border: 0;
    border-top: 1px solid #fff;
}

.menu.active {
    display: block;
    position: fixed;
    top: 0;
    width: 28%;
    left: 0;
    background: #E7D6AA;
    z-index: 1000;
    overflow-y: auto;
    padding-top: 91px;
    padding-bottom: 22px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
}
.top-bar-container.menu-open .menu-container {
    left: 0;
}
.menu-container.active .menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1001; /* Ensure menu-toggle is above the menu */
    display: block;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;

}
.logo2 img {
    height: 85px;
    width: 86px;
    padding-left: 12px;
    padding-bottom: 12px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.add-to-cart-button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: auto; 
    max-width: 90%;
    margin: 0 auto;

    overflow: auto;
    background: #E7D6AA;
    border-radius: 4px;
    padding: 50px 0;
}

li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Marko One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
}

input[type="number"] {
    width: 40px;
    background: #3B6A7E;
    border-radius: 4px;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.label-row {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E1E1E;
    font-family: 'Marko One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.label-row span {
    flex: 1;
    color: #1E1E1E;

}

.quantity-label {
    text-align: center;
    margin-top: 10px;
}
.add-to-stock-button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Lemon';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.center-button{
    padding-top: 10px;
    text-align: center;
}
#goToSearchButton{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px; /* Add margin for spacing */
}